@model List<MyFirstMVC.Models.TimePerson>

<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <main class="result">
        <h2 id="mainTitle">Results</h2>
        <h2 id="subTitle"> Person of the Year Database</h2>
        <h3 id="subTitle"> Total results: @Model.Count</h3>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <table align="center">
            <tr><th>Name</th><th>Title</th><th>Year</th></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Title</td>
                    <td>@item.Year</td>
                </tr>
            }

        </table>
        <a asp-controller="Home" asp-action="Index">Search Again</a>
    </main>

</body>